* {
    margin: 0;
    padding: 0;
    /* outline: auto; */
    box-sizing: border-box;
}

header {
    position: relative;
    background-image: url('../images/design1image1.jpg');
    background-size: cover;
    height: 600px;
}

.texto-header {
    position: relative;
    font-size: 40px;
    padding-top: 20px;
    padding-left: 40px;
    color: rgb(5, 5, 5);
    font-style: italic;
    background-color: aliceblue;
}

.subtitulo {
    background-color: white;
    height: 40px;
    top: 1000px;
    color: black;
    text-align: center;
    margin: 0;
}

#logo {
    height: 142px;
    position: relative;
    top: 750px;
    left: 3%;
}

nav {
    display: inline-block;
    margin: 0 80px;
    height: 43px;
    width: 400px;
    position: absolute;
    right: 0px;
    padding: 10px;
    top: 28px;
}


a {
    background-color: blue;
    display: inline;
    margin: 2px;
    padding: 2px 15px;
    text-align: center;
    color: aliceblue;
    border-radius: 5px;
    text-decoration: none;
}
a.active:hover,a.active:active {
    font-size: 150%;
    background: green;
}


section {
    display: inline-block;
    margin-top: 150px;
    height: 400px;
    width: 800px;
}

section h3 {
    font-style: italic;
}

section p {
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 30px;
}

aside {
    display: inline-block;
    width: 400px;
}

footer {
    background-color: brown;
    height: 60px;
}